    <!--DO NOT REMOVE-->
    {{{ patternLabFoot }}}
    <script type="text/javascript" src="/wp-content/themes/awp-demo/dist/scripts/vendor.js"></script>
    <script type="text/javascript" src="/wp-content/themes/awp-demo/dist/scripts/app.js"></script>
  </body>
</html>
