/*=============================================
=              Helpers - Spacing              =
=============================================*/

/*----------  Grid  ----------*/

.h-mb-grid { margin-bottom: $spacing * 2 !important; }

/*----------  Margin Top  ----------*/

// Tiny
.h-mt-tiny { margin-top: $padding-xs !important; }
.h-mt-tiny\@s { @include breakpoint($small) { margin-top: $padding-xs !important; } }
.h-mt-tiny\@m { @include breakpoint($medium) { margin-top: $padding-xs !important; } }
.h-mt-tiny\@l { @include breakpoint($large) { margin-top: $padding-xs !important; } }

// Small
.h-mt-small { margin-top: $padding-sm !important; }
.h-mt-small\@s { @include breakpoint($small) { margin-top: $padding-sm !important; } }
.h-mt-small\@m { @include breakpoint($medium) { margin-top: $padding-sm !important; } }
.h-mt-small\@l { @include breakpoint($large) { margin-top: $padding-sm !important; } }

// Medium
.h-mt-medium { margin-top: $padding-md !important; }
.h-mt-medium\@s { @include breakpoint($small) { margin-top: $padding-md !important; } }
.h-mt-medium\@m { @include breakpoint($medium) { margin-top: $padding-md !important; } }
.h-mt-medium\@l { @include breakpoint($large) { margin-top: $padding-md !important; } }

// Large
.h-mt-large { margin-top: $padding-lg !important; }
.h-mt-large\@s { @include breakpoint($small) { margin-top: $padding-lg !important; } }
.h-mt-large\@m { @include breakpoint($medium) { margin-top: $padding-lg !important; } }
.h-mt-large\@l { @include breakpoint($large) { margin-top: $padding-lg !important; } }

// None
.h-mt-none { margin-top: 0 !important; }
.h-mt-none\@s { @include breakpoint($small) { margin-top: 0 !important; } }
.h-mt-none\@m { @include breakpoint($medium) { margin-top: 0 !important; } }
.h-mt-none\@l { @include breakpoint($large) { margin-top: 0 !important; } }

/*----------  Margin Bottom  ----------*/

// Tiny
.h-mb-tiny { margin-bottom: $padding-xs !important; }
.h-mb-tiny\@s { @include breakpoint($small) { margin-bottom: $padding-xs !important; } }
.h-mb-tiny\@m { @include breakpoint($medium) { margin-bottom: $padding-xs !important; } }
.h-mb-tiny\@l { @include breakpoint($large) { margin-bottom: $padding-xs !important; } }

// Small
.h-mb-small { margin-bottom: $padding-sm !important; }
.h-mb-small\@s { @include breakpoint($small) { margin-bottom: $padding-sm !important; } }
.h-mb-small\@m { @include breakpoint($medium) { margin-bottom: $padding-sm !important; } }
.h-mb-small\@l { @include breakpoint($large) { margin-bottom: $padding-sm !important; } }

// Medium
.h-mb-medium { margin-bottom: $padding-md !important; }
.h-mb-medium\@s { @include breakpoint($small) { margin-bottom: $padding-md !important; } }
.h-mb-medium\@m { @include breakpoint($medium) { margin-bottom: $padding-md !important; } }
.h-mb-medium\@l { @include breakpoint($large) { margin-bottom: $padding-md !important; } }

// Large
.h-mb-large { margin-bottom: $padding-lg !important; }
.h-mb-large\@s { @include breakpoint($small) { margin-bottom: $padding-lg !important; } }
.h-mb-large\@m { @include breakpoint($medium) { margin-bottom: $padding-lg !important; } }
.h-mb-large\@l { @include breakpoint($large) { margin-bottom: $padding-lg !important; } }

// None
.h-mb-none { margin-bottom: 0 !important; }
.h-mb-none\@s { @include breakpoint($small) { margin-bottom: 0 !important; } }
.h-mb-none\@m { @include breakpoint($medium) { margin-bottom: 0 !important; } }
.h-mb-none\@l { @include breakpoint($large) { margin-bottom: 0 !important; } }

/*----------  Padding Top  ----------*/

// Tiny
.h-pt-tiny { padding-top: $padding-xs; }
.h-pt-tiny\@s { @include breakpoint($small) { padding-top: $padding-xs !important; } }
.h-pt-tiny\@m { @include breakpoint($medium) { padding-top: $padding-xs !important; } }
.h-pt-tiny\@l { @include breakpoint($large) { padding-top: $padding-xs !important; } }

// Small
.h-pt-small { padding-top: $padding-sm !important; }
.h-pt-small\@s { @include breakpoint($small) { padding-top: $padding-sm !important; } }
.h-pt-small\@m { @include breakpoint($medium) { padding-top: $padding-sm !important; } }
.h-pt-small\@l { @include breakpoint($large) { padding-top: $padding-sm !important; } }

// Medium
.h-pt-medium { padding-top: $padding-md !important; }
.h-pt-medium\@s { @include breakpoint($small) { padding-top: $padding-md !important; } }
.h-pt-medium\@m { @include breakpoint($medium) { padding-top: $padding-md !important; } }
.h-pt-medium\@l { @include breakpoint($large) { padding-top: $padding-md !important; } }

// Large
.h-pt-large { padding-top: $padding-lg !important; }
.h-pt-large\@s { @include breakpoint($small) { padding-top: $padding-lg !important; } }
.h-pt-large\@m { @include breakpoint($medium) { padding-top: $padding-lg !important; } }
.h-pt-large\@l { @include breakpoint($large) { padding-top: $padding-lg !important; } }

// None
.h-pt-none { padding-top: 0 !important; }
.h-pt-none\@s { @include breakpoint($small) { padding-top: 0 !important; } }
.h-pt-none\@m { @include breakpoint($medium) { padding-top: 0 !important; } }
.h-pt-none\@l { @include breakpoint($large) { padding-top: 0 !important; } }

/*----------  Padding Bottom  ----------*/

// Tiny
.h-pb-tiny { padding-bottom: $padding-xs !important; }
.h-pb-tiny\@s { @include breakpoint($small) { padding-bottom: $padding-xs !important; } }
.h-pb-tiny\@m { @include breakpoint($medium) { padding-bottom: $padding-xs !important; } }
.h-pb-tiny\@l { @include breakpoint($large) { padding-bottom: $padding-xs !important; } }

// Small
.h-pb-small { padding-bottom: $padding-sm !important; }
.h-pb-small\@s { @include breakpoint($small) { padding-bottom: $padding-sm !important; } }
.h-pb-small\@m { @include breakpoint($medium) { padding-bottom: $padding-sm !important; } }
.h-pb-small\@l { @include breakpoint($large) { padding-bottom: $padding-sm !important; } }

// Medium
.h-pb-medium { padding-bottom: $padding-md !important; }
.h-pb-medium\@s { @include breakpoint($small) { padding-bottom: $padding-md !important; } }
.h-pb-medium\@m { @include breakpoint($medium) { padding-bottom: $padding-md !important; } }
.h-pb-medium\@l { @include breakpoint($large) { padding-bottom: $padding-md !important; } }

// Large
.h-pb-large { padding-bottom: $padding-lg !important; }
.h-pb-large\@s { @include breakpoint($small) { padding-bottom: $padding-lg !important; } }
.h-pb-large\@m { @include breakpoint($medium) { padding-bottom: $padding-lg !important; } }
.h-pb-large\@l { @include breakpoint($large) { padding-bottom: $padding-lg !important; } }

// None
.h-pb-none { padding-bottom: 0 !important; }
.h-pb-none\@s { @include breakpoint($small) { padding-bottom: 0 !important; } }
.h-pb-none\@m { @include breakpoint($medium) { padding-bottom: 0 !important; } }
.h-pb-none\@l { @include breakpoint($large) { padding-bottom: 0 !important; } }
