<form>
  <input id="my-option-one" type="radio" name="option" value="one" checked>
  <label for="my-option-one">One</label>
  <input id="my-option-two" type="radio" name="option" value="two">
  <label for="my-option-two">Two</label>
  <input id="my-option-three" type="radio" name="option" value="three">
  <label for="my-option-three">Three</label>
</form>
