<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #ffffff;"></span>
    <span class="sg-label">$white / $text-white<br>#ffffff</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #807f8b;"></span>
    <span class="sg-label">$grey / $text-grey<br>#807f8b</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #000000;"></span>
    <span class="sg-label">$black / $text-black<br>#000000</span>
  </li>
</ul>

<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #e6e6e6;"></span>
    <span class="sg-label">$light-grey<br>#e6e6e6</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #37363a;"></span>
    <span class="sg-label">$dark-grey<br>#37363a</span>
  </li>
</ul>

<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #47aa5d;"></span>
    <span class="sg-label">$theme-color<br>#47aa5d</span>
  </li>
</ul>
