<div class="s-page">
  <h1>Heading Level 1</h1>
  <h2>Heading Level 2</h2>
  <h2 class="h2-5">Heading Level 2.5</h2>
  <h3>Heading Level 3</h3>
  <h4>Heading Level 4</h4>
  <h4 class="h4-5">Heading Level 4.5</h4>
  <h5>Heading Level 5</h5>
  <h6>Heading Level 6</h6>
  <p><b>This is a bolded paragraph.</b></p>
  <p><strong>This is a strong paragraph.</strong></p>
  <p>This is a paragraph.</p>
  <p><i>This is an italicized paragraph (alternative voice).</i></p>
  <p><em>This is a paragraph with emphasis.</em></p>
  <a href="#">This is a link.</a>
  <ul>
    <li>Unordered List Item</li>
    <li>Unordered List Item</li>
    <li>Unordered List Item</li>
  </ul>
  <ol>
    <li>Ordered List Item</li>
    <li>Ordered List Item</li>
    <li>Ordered List Item</li>
  </ol>
  <blockquote>This is a blockquote.</blockquote>
  <pre><code>This is a line of code.</code></pre>
</div>
