<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="s-page" style="max-width: 600px;">

        <h1>Class Names</h1>
        <ul>
          <li><p>Class prefixes should be used to designate functionality, scope, helpers, etc.</p></li>
          <li><p>BEM should be used to make classes more clear. Readability is the key.</p></li>
          <li><p>Class suffixes should be used to designate media query breakpoints. For example, @ml means the medium and large breakpoints.</p></li>
        </ul>

        <h2>Prefix + BEM + Suffix</h2>
        <pre><code>preifx-block__element--modifier@suffix</code></pre>

        <h2>Atomic Design Prefixes</h2>
        <p><b>Atoms:</b> .a-</p>
        <p><b>Molecules:</b> .m-</p>
        <p><b>Organisms:</b> .o-</p>
        <p><b>Templates:</b> .t-</p>

        <h2>Scope Prefixes</h2>
        <p><b>Scope:</b> .s-</p>

        <h2>Helper Prefixes</h2>
        <p><b>Helper:</b> .h-</p>

        <h2>JavaScript Prefixes</h2>
        <p><b>JavaScript Functionality:</b> .js-</p>

        <h2>Media Query Suffixes</h2>
        <p><b>xx-tiny:</b> -@xxt</p>
        <p><b>x-tiny:</b> -@xt</p>
        <p><b>tiny:</b> -@t</p>
        <p><b>small:</b> -@s</p>
        <p><b>medium:</b> -@m</p>
        <p><b>large:</b> -@l</p>
        <p><b>x-large:</b> -@xl</p>
        <p><b>xx-large:</b> -@xxl</p>
        <p><b>xx-tiny - medium:</b> -@xxtm</p>
        <p>and so on...</p>

      </div>
    </div>
  </div>
</div>
