/*=============================================
=             Variables - Colors              =
=============================================*/

// Primary Colors
$white: #ffffff;
$black: #000000;

// Greys
$light-grey: #e6e6e6;
$grey: #807f8b;
$dark-grey: #37363a;

// Theme colors
$theme-color: #47aa5d;
