/*=============================================
=             Variables - Layout              =
=============================================*/

// Breakpoints
$xx-tiny: 361px;
$x-tiny: 400px;
$tiny: 481px;
$small: 769px;
$medium: 993px;
$large: 1201px;
$x-large: 1441px;
$xx-large: 1701px;

// Default Grid Spacing
$spacing: 20px;

// Default Padding
$padding-xs: 1.6rem;
$padding-sm: 2.4rem;
$padding-md: 6.4rem;
$padding-lg: 9.6rem;
