/*=============================================
=              Variables - Text               =
=============================================*/

// Fonts
$font: sans-serif;
$mono: monospace;

// Text colors
$text-black: $black;
$text-grey: $grey;
$text-white: $white;

// Font Weights
$regular: 400;
